<div class="container">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
      <h1 class="text-center ">Todo App</h1>
      <div class="input-group-prepend">
        <input [formControlName]="'todo'" type="text" class="form-control" placeholder="Add Task" name="todo">
        <span class="input-group-text" (click)="onSubmit()">
          <i class="material-icons">add</i></span>
      </div>
    </div>
    <div class="data">
      <mat-card class="anima-in anima-out " [@EnterLeave] *ngFor="let todo of todoArray; let i = index"><i
          style="color:green; padding-top: 0px;font-size: 30px; cursor: pointer;" (click)="onDeleteItem(i)"
          class="material-icons ">done</i>{{todo}}  
      </mat-card>
    </div>
  </form>
</div>